<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appglue" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.appglue.permission.COMPOSE_ME_PLEASE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission android:name="com.appglue.permission.COMPOSE_ME_PLEASE" />

    <application
        android:name="com.appglue.AppGlue"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/application_name"
        android:theme="@style/Theme.AppGlue" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/application_name"
            android:theme="@style/Theme.AppGlue" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WiringActivity"
            android:label="@string/application_name"
            android:theme="@style/Theme.AppGlue" />
        <activity
            android:name=".SettingsActivity"
            android:label="appGlue"
            android:theme="@style/Theme.AppGlue" />
        <activity android:name="com.appglue.ShortcutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/disclaimer_tutorial"
            android:theme="@style/Theme.AppGlue" />

        <service android:name="com.appglue.serviceregistry.RegistryService" />
        <!-- <service android:name="com.appglue.engine.TriggerService"></service> -->
        <service android:name="com.appglue.engine.OrchestrationService" />

        <!-- Services that can be composed -->
        <service android:name="com.appglue.services.SayHelloService" />
        <service android:name="com.appglue.services.NotificationService" />
        <service android:name="com.appglue.services.AlarmService" />
        <service android:name="com.appglue.services.TubeService" />
        <service android:name="com.appglue.services.ToastService" />
        <service android:name="com.appglue.services.SendSMSService" />
        <service android:name="com.appglue.services.PebbleNotification" />
        <service android:name="com.appglue.services.LocationService" />
        <service android:name="com.appglue.services.LaunchAppService" />
        <service android:name="com.appglue.services.util.WifiService" />
        <service android:name="com.appglue.services.util.BluetoothService" />
        <!-- <service android:name="com.appglue.services.util.AirplaneService" /> -->

        <receiver
            android:name="com.appglue.services.triggers.ReceiveSMSTrigger"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.PowerTrigger"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.triggers.MobileConnectionTrigger"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.AirplaneTrigger"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.BatteryTrigger"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.BluetoothTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED" />
                <action android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.StartupTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.DockedTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.DeviceStorageTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.ScreenStateTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.WifiTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGED" />
                <action android:name="android.net.wifi.SUPPLICANT_CONNECTION_CHANGE_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.RingerTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.services.triggers.NFCTrigger"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.nfc.action.ADAPTER_STATE_CHANGED" />
            </intent-filter>
        </receiver>























        <receiver
            android:name="com.appglue.serviceregistry.AppUninstalledReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appglue.engine.Scheduler"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.appglue.schedule" />
            </intent-filter>
        </receiver>
        <!-- // android.intent.action.PACKAGE_ADDED -->
        <!-- // android.intent.action.PACKAGE_CHANGED -->
        <!-- // android.intent.action.PACKAGE_DATA_CLEARED -->
        <!-- // android.intent.action.PACKAGE_FIRST_LAUNCH -->
        <!-- // android.intent.action.PACKAGE_FULLY_REMOVED -->
        <!-- // android.intent.action.PACKAGE_INSTALL -->
        <!-- // android.intent.action.PACKAGE_NEEDS_VERIFICATION -->
        <!-- // android.intent.action.PACKAGE_REMOVED -->
        <!-- // android.intent.action.PACKAGE_REPLACED -->
        <!-- // android.intent.action.PACKAGE_RESTARTED -->
        <!-- // android.intent.action.PACKAGE_VERIFIED -->
    </application>

</manifest>